*{
	box-sizing: border-box;
}

body{
  font-family: 'Merriweather', serif;
  background-image: url(../images/img_login1.jpg);
  background-size: cover;
  /*background-attachment:fixed;*/
  background-position: center center;
	background-attachment: fixed;
  font-size: 10px;
}

.container{
	width: 95%;
	margin: auto;
	position: relative; /* para que la caja con position: absolute; no se escape */
}

/* agrupación de selectores */

.principal{
	width: 95%;
	height: 60px;
	background-color: red;
	margin: auto;


}

.box01{
	width: 30%;
	height: 200px;
	background-color: black;
	position: relative;


}

.img_box1{
	position: absolute;
	width: 10%;
	height: 10%
}

.box02{
	background-color: rgb(42, 240, 31);
	position: relative;
}


.box03{
	width: 70%;
	height: 262px;
	background-color: rgb(248, 255, 111);
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 8px
}

.box04{
	background-color: rgb(196, 129, 237);
	position: fixed;
	left: 0;
	bottom: 0;
}
.maintitle{
	color: white;
	font-family: verdana;
	font-size: 35px;
text-align: center;
	padding-right: 10px;
	padding-top: 10px;
}
.titulo{
	width: 95%;
	height: 20%;
	background-color: rgb(93, 93, 93);
	padding: 0px;
	margin: auto;
}

.cabezal{
  color: white;
  font-family: verdana;
  font-size: 21px;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}

.descripcion{
font-size: 25px;
font-family: sans-serif;
}


.black-box{
	width: 100px;
	height: 100px;
	background-color: #000000;
	position: absolute;
	left: 50%;
	top: 50%;
	/*margin-top: -30px;
	margin-left: -30px;*/
	transform: translate(-50%, -50%); /* se da en función de la mitad de ancho y alto de éste elemento */
}
