*{
	box-sizing: border-box;
}
/*@media (min-width: 360px) {*/

body{
  font-family: 'Merriweather', serif;
  background-image: url(../images/img_login1.jpg);
  background-size: cover;
  /*background-attachment:fixed;*/
  background-position: center center;
	background-attachment: fixed;
  font-size: 10px;
}

.container{
	width: 90%;
	height: 80px;
	margin: auto;
	position: relative; /* para que la caja con position: absolute; no se escape */
}

/* agrupación de selectores */

.principal{
	width: 90%;
	height: 36px;
	background-color: red;
	margin: auto;
	border-radius: 8px;
	font-size: 16px;
}

.box01{
	width: 30%;
	height: 72px;
	background-color: black;
	position: absolute;
	overflow: hidden;
}

.img_box1{
	position: absolute;
	width: 10%;
	height: 10%
}

.box02{
	background-color: rgb(42, 240, 31);
	position: relative;
}


.box03{
	width: 70%;
	height: 72px;
	background-color: rgb(248, 255, 111);
	float: right;
	padding-left: 8px;

}

.maintitle{
	color: white;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
	padding-right: 10px;
	padding-top: 8px;
}

.titulo{
	width: 100%;
	height: 24px;
	background-color: rgb(93, 93, 93);
	padding: 0px;
	margin: auto;
	border-radius: 8px;
}

.cabezal{
  color: white;
  font-family: verdana;
  font-size: 15px;
	text-align: center;
	border-radius: 3px;
}

.descripcion{
font-size: 9px;
font-family: sans-serif;
}

.volver_logo{
width: 4em;
height: 4em;
margin: 5%;

}

@media (min-width: 650px) {
	.container{
		width: 90%;
		height: 120px;
		margin: auto;
		position: relative; /* para que la caja con position: absolute; no se escape */
	}

	.box01{
		width: 30%;
		height: 120px;
		background-color: black;
		position: absolute;
		overflow: hidden;
	}

	.box03{
		width: 70%;
		height: 120px;
		background-color: rgb(248, 255, 111);
		float: right;
		padding-left: 8px;
	}

	.descripcion{
	font-size: 13px;
	font-family: sans-serif;
	}
}

@media (min-width: 1200px) {
	.container{
		width: 55%;
		height: 150px;
		display: block;
	}

	.box01{
		width: 30%;
		height: 150px;
		background-color: black;
		position: absolute;
		overflow: hidden;
	}

	.box03{
		width: 70%;
		height: 150px;
		background-color: rgb(248, 255, 111);
		float: right;
		padding-left: 8px;
	}

	.descripcion{
	font-size: 16px;
	font-family: sans-serif;
	}
	.volver_logo{
	width: 4em;
	height: 4em;
	margin-left: 20%;

	}
}
