*{
	box-sizing: border-box;
}
/*@media (min-width: 360px) {*/

body{
  font-family: 'Merriweather', serif;
  background-image: url(../images/img_login1.jpg);
  background-size: cover;
  /*background-attachment:fixed;*/
  background-position: center center;
	background-attachment: fixed;
  font-size: 10px;
}

.container{
	width: 85%;
	margin: auto;
	position: relative; /* para que la caja con position: absolute; no se escape */
}

/* agrupación de selectores */

.principal{
	width: 95%;
	height: 90px;
	background-color: red;
	margin: auto;
	border-radius: 12px;


}

.box01{
	width: 30%;
	height: 177px;
	background-color: black;
	position: relative;


}

.img_box1{
	position: absolute;
	width: 10%;
	height: 10%
}

.box02{
	background-color: rgb(42, 240, 31);
	position: relative;
}


.box03{
	width: 70%;
	height: 192px;
	background-color: rgb(248, 255, 111);
	float: right;
	padding-left: 8px;
	margin-top: -176px;
}

.box04{
	background-color: rgb(196, 129, 237);
	position: fixed;
	left: 0;
	bottom: 0;
}
.maintitle{
	color: white;
	font-family: verdana;
	font-size: 48px;
	text-align: center;
	padding-right: 10px;
	padding-top: 15px;
}
.titulo{
	width: 100%;
	height: 50px;
	background-color: rgb(93, 93, 93);
	padding: 0px;
	margin: auto;
	border-radius: 12px;
}

.cabezal{
  color: white;
  font-family: verdana;
  font-size: 35px;
	text-align: center;
	border-radius: 3px;
}

.descripcion{
font-size: 25px;
font-family: sans-serif;
}

/*@media (max-width: 360px) {
  body {
    font-size: 16px;
  }
	.container{
		width: 42%;
		margin: auto;
		position: relative; /* para que la caja con position: absolute; no se escape */
	
