
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather', serif;
    background-image: url(../images/logo_producido.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-size: 10px;
    height: 100vh;

}
a {
    color: #222;
    text-decoration: none;
}
ul, ol, li {
    list-style: outside none none;
}

header {
    position: relative;
    background: #8162FE;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    max-width: auto;

}
/*header h1 {
    position: absolute;
    padding: 0 0 0.2em;
}*/

.text_user {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}



.control-menu {
    background-color: transparent;
    display: block;
    width: 100%;
}
.control-menu a span {
    display: inline-block;
    height: 40px;
}
.control-menu .close {
    /*background-image: url("../images/close-menu.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
.control-menu .open {
    /*background-image: url("../images/open-menu.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

ul.nav-items {
    clear: both;
    height: 0;
    overflow: hidden;
    /*transition: height 0.4s ease-in-out 0s, background-color 1s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/*/
}

#navigation:target ul.nav-items {
    background-color: rgb(255, 255, 255);

    height:auto;
    width: 40%;
    position: absolute;
}


/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/

.close {
   display:none;
}

#navigation:target .open {
      display: none;
}

/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/

#navigation:target .close {
        display: block;
}

/*Estilos menu*/

ul.nav-items li {
    display: block;
}
ul.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}
ul.nav-items li:first-child a {
    border-top: 2px solid transparent;
}
ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}

.img_consultas{
  position: absolute;
  width: 5%;
  right: 10px;
  top: 12px;
}

.li_flecha{
  position: relative;
}

.img_ctrol{
  position: absolute;
  height: 30px;
  margin-left: 0.5em;
  top: 5px;
}

.menu{
  float: left;
}

#menu_usr_open {
  display: none;
}

.img_user{
  width: 30%;
}


#Usuarios a span {

    border-color: #ff6633;
}
#Personal a span {
    border-color: #bda94d;
}
#Alarmas a span {
    border-color: #5887bc;
}
#Suministros a span {
    border-color: #00a2b7;
}
#Procedimientos a span {
    border-color: #fe00c6;
}
#Consultas a span {
    border-color: #0dff00;
}

#sub_consultas {
  position: absolute;
  left: 10%;
  /*display: none*/
}

.menu_logeado{
  background: #8162FE;
  font-size: 10px;
  float: right;
  width: 100px;
  position: relative;
  left: -5%;
}

.control-menu2 {
    background-color: transparent;
    display: block;
    width: 100%;
    position: absolute;
    left: 30%;
}
.control-menu2 a span {
    display: inline-block;
    height: 40px;
}
.control-menu2 .close2 {
    /*background-image: url("../images/close-menu.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
.control-menu2 .open2 {
    /*background-image: url("../images/open-menu.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

ul.nav-items2 {
    clear: both;
    height: 0;
    overflow: hidden;
    /*transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/*/
    position: absolute;
    overflow: hidden;
}

#navigation2:target ul.nav-items2 {
    background-color: rgb(255, 255, 255);
    height:auto;
    width: 119%;
    position: absolute;
    top: 42px;
    left: -1%;
}


/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/

.close2 {
   display:none;
}

#navigation2:target .open2 {
      display: none;
}

/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/

#navigation2:target .close2 {
        display: block;
}

/*Estilos menu*/

ul.nav-items2 li {
    display: block;
}
ul.nav-items2 a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}
ul.nav-items2 li:first-child a {
    border-top: 2px solid transparent;
}
ul.nav-items2 li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}

.img_consultas2{
  position: absolute;
  width: 3%;
  right: 20px;
  top: 10px;
}

.li_flecha2{
  position: relative;
}

.img_ctrol2{
  position: absolute;
  height: 40px;
  margin-left: 0.5em;
  top: 3px;
}

@media (min-width: 1200px){

  .img_consultas{
    width: 8%;
    top: 10px;
  }

  #navigation:target ul.nav-items {
    width: 15%;
  }

  .img_ctrol{
    height: 35px;
    margin-left: 1.5em;
    top: 3px;
  }

}
